.initechNode {
  border: solid 1px red;
  border-radius: 3px;
  padding: 5px;
  width: auto;
  display: inline-block !important;
}

#initechOrgChart .orgNodeChildGroup .nodeGroupLineVerticalMiddle {
  border-right: solid 1px red
}

#initechOrgChart .nodeLineBorderTop {
  border-top: solid 1px red;
}

.chartClass{
  color: blueviolet !important;
  /* background-color: aqua; */
  border: none !important;
  outline: none !important;
  background-image: none !important;
  /* font-size: 50px; */
}
.containerClass{
  color: blueviolet !important;
  border: none !important;
  outline: none !important;
  text-decoration: none !important;
  background-image: none !important;
}

