.initechNode {
  border: solid 1px red;
  border-radius: 3px;
  padding: 5px;
  width: auto;
  display: inline-block !important;
}

#initechOrgChart .orgNodeChildGroup .nodeGroupLineVerticalMiddle {
  border-right: solid 1px red
}

#initechOrgChart .nodeLineBorderTop {
  border-top: solid 1px red;
}

.sticky{
  position: sticky;
}

